/* Body Styles */

body {
	font-family: 'Open Sans', sans-serif;
  background-image: url("/static/img/spirals_opaque.jpg");
  font-weight:400;
}

a{
  color: #428bca;
}

/* Playlist Styles */
.right-bar {
  background-color:#F5F5F5;
  width:450px;
  height:100%;
  position:absolute;
  right:0;
  top:0;
}

#playlist-table {
  margin-left:20px;
  width:400px;
}


.table-header {
  margin-left:20px;
  margin-top:110px;
  font-size:26px;
  font-weight:800;
  z-index:100;
  padding-bottom:20px;
}

#playlist-table tbody tr:hover td { 
  background-color: #B4CDCD;
}    

#playlist-table tr td:last-child {
    text-align: center;
}
/*Alert Styles */

.jumbotron {
  display:none;
}

#playlist-message {
  background-color: #B4CDCD;
  display:block;
  height:350px;
  width:950px;
  margin-top:150px;
  margin-left:-130px;
}

#progress-message {
  display:block;
  height:350px;
  width:400px;
  top:300;
  right:30;
  z-index:0;
  position:absolute;
  padding:30px;
}

#progress-message p{
  font-size:17px;
}

#playlist-message div{
  padding-bottom:20px;
}

#playlist-message h2{
  font-size:42px;
  font-weight:800;
}

#music-alert{
  display:none;
  height:180px;
  width:800px;
  top:300px;
  left:180px;
  z-index:3000;
  position:absolute;
  padding:20px;
  width:800px;
}

#end-message {
  display:block;
}

/* Header Styles */

.hello-message {
  top:15;
  left:65;
  color:white;
  font-size: 34px;
  position:absolute;
}

#end-session-btn {
  display:none;
  top:20;
  left:570;
  position:absolute;
  width:150px;
  font-size:18px;

}

.navbar.navbar-inverse {
  height:80px;
  z-index: 100;
  font-weight:400;
  font-family:'Open Sans';
} 

.right-header {
  right:50;
  top:15;
  position:absolute;
  color:white;
}

.playlist-header {
  left:100;
  top:25;
  position:absolute;
  font-family:'Open Sans';
}

label#options-label{
  color: white;
  font-size: 22px;
  font-weight:400;
  font-family:'Open Sans';
}

input#playlist {
  color:black;
  font-size: 18px;
}

#connection-status {
  width:200px;
  background-color:white;
  height:30px;
  display:inline-block;
  color:black;
  font-size:18px;
  padding:10px;
}

#connection-status-text {
 font-size:18px;
}


#options-label{
  color: white;
  font-size: 18px;
}

/* Below-header Styles */ 
.below-header {
  top:80;
  left:90;
  background-color:#B4CDCD;
  position:absolute;
  height:120px;
  width:1105px;
  padding:25px;
  display:none;
}

.below-header p {
  padding-top:5px;
  font-size:18px;
}

.below-header h1,h2,h3 {
  display:inline;
}

.below-header span {
  font-size:20px;
}

/* Footer Styles */

.footer-nav {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 150px;
    background-color:#35586C;
    list-style: none;
    display:none;
    z-index:800;
    margin-bottom:0;
    color:black;
}

.footer-container {
  z-index:1000;
  position:absolute;
}

#left-footer-container {
  left:190px;
  top:60px;
  position:absolute;
}

#left-footer-container h3 {
  font-weight:800;
}

#left-center-footer-container {
  left:360px;
  top:5px;
  position:absolute;
}

#center-left-footer-container {
  left:520px;
  top:15px;
  position:absolute;
  font-size:16px;
}

#timer {
  right:500px;
  top:60px;
  position:absolute;
  display:none;
}

#timer-header h3 {
  font-weight:800;
}

#clock {
  width:90px;
  background-color:black;
  height:50px;
  color:white;
  font-size:28px;
  padding:8px;
  position:absolute;
  right:-100px;
  top:-15px;
}

/* Middle-Bar Styles */

.center-bar {
  width:100%;
  height:332px;
  position:absolute;
  background-color: white;
  top:240px;
  left:0px;
  z-index:-10;
}

#welcome-page {
  display:block;
  height:450px;
  top:230px;

}
#session-page {
  display:none;
}

/* d3 Chart Styles */
svg {
    font-family: 'Open Sans', sans-serif;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y-label {
  font-size: 20px;
}

/* speedometer styles */

#speedometer {
  width:400px;
  height:330px;
  position:absolute;
  z-index:1000;
  right:-0px;
  top:240px;
  padding:30;
  display:none;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gauge .domain {
    stroke-width: 2px;
    stroke: black;
}

.gauge .tick line {
    stroke: black;
    stroke-width: 2px;
}

.gauge line {
    stroke: black;
}

.gauge .band .badL {
  fill: #2166ac;
}

.gauge .band .okay2L {
  fill: #4393c3;
}

.gauge .band .okay1L {
  fill:#92c5de;
}

.gauge .band .goodL {
  fill:#d1e5f0;
}

.gauge .band .goodR {
  fill:#fddbc7;
}

.gauge .band .okay1R {
  fill:#f4a582;
}

.gauge .band .okay2R {
  fill:#d6604d;
}

.gauge .band .badR {
  fill:#b2182b
}


.gauge .arc, .gauge .cursor {
    opacity: 0;
}

.gauge .major {
    fill: black;
    font-size: 20px;
    font-family: 'Play', verdana, sans-serif;
    font-weight: normal;
}

.gauge .indicator {
    stroke: #1b7837;
    fill: black;
    stroke-width: 4px;
}

.segdisplay .on {
    fill: #4CBB17;
}

.segdisplay .off {
    fill: #4CBB17;
    opacity: 0.15;
}

/*Progress chart*/

#progress-header {
  width:100%;
  height:60px;
  top:200px;
  background-color:#009ACD;
  position:absolute;
  left:0px;
}

#progress-header p{
  font-size:28px;
  margin-left:70px;
  margin-top:10px;
  font-weight:800;
}

.bar {
  fill: #00688B;
}

.bar:hover {
  fill: #009ACD ;
}

.x-axis-label {
  font-size:14px;
  font-weight:400;
  font-style:italic;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.y.axis path {
  stroke:none;
}
