<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="/static/css/main.css"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Play:700,400' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <nav class="navbar navbar-inverse" role="navigation">
                <nav class="navbar-collapse collapse">
                    {% block header %} {% endblock %}
                </nav>
        </nav>

        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
        <div>
            {% block body %} {% endblock %}
        </div>
        </div>

    </body>

        <!-- jQuery script-->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script src="/static/js/jquery.rdio.js"></script>

    {% block script %} {% endblock %}
 </body>
</html>