{% extends 'base.html' %}

{% block body %}

<div class="welcome-banner">
    <form class="options-form" method="POST">
      <label for="autocomplete" id= 'options-label'>Next, select the amount of time: </label>
      <input id="autocomplete" name="playlist">
      <button id="playlist-submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div id="player-container">
  <div id="api"></div>
  <div id="player">
    <img id="art" src="" height="200" width="200" style="float:left;margin-right:20px;">
    <div id="player-details">
      <div><b>Track: </b><span id="track"></span></div>
      <div><b>Album: </b><span id="album"></span></div>
      <div><b>Artist: </b><span id="artist"></span></div>
      <div><b>Position: </b>
        <span style="display:inline-block;width:200px;border:1px solid black;">
          <span id="position" style="display:inline-block;background-color:#666">&nbsp;</span>
        </span></div>
      <div id="player-buttons">
        <button id="previous">&lt;&lt;</button>
        <button id="play">|&gt;</button>
        <button id="pause">||</button>
        <button id="next">&gt;&gt;</button>
      </div>
    </div>
  </div>
</div> 

<!-- <script src="/static/js/brainwaves.js"></script>-->
<!-- <script src="/static/js/rdio_player.js"></script> -->
<!-- <script src="/static/js/d3chart.js"></script> -->


<!-- // function get_playlists() {
//     $.get("/ajax/playlists", add_to_autocomplete);
// }

// function add_to_autocomplete(data) {
//     var playlists = JSON.parse(data);
//     console.log(playlists);
//     $("#autocomplete" ).autocomplete({
//     source: playlists
//             });
// }

// function show_music() {
//   console.log('got here');
//   var music = $("#player-container");
//   music.show();
// }

// function main() {
//   get_playlists();

//   var options_form = $(".options-form");

//   options_form.submit(show_music);
// }

// $(main);
//  -->


{% endblock %}
