{% extends 'base.html' %}

{% block header %}

<div>
<p class="left-message">Connect Your Headset</p>
</div>

<div class = 'right-header'>
  <span id = "connection-status-text">Connection status:</span>   <div id="connection-status">Waiting for signal</div>
<div>

{% endblock %}

{% block body %}

<div class="jumbotron" id="start-message">
  <h1>You're connected!</h1>
  <div>
  <p>Spend a moment thinking about your goals for this session before beginning.</br>
    Take a few deep breaths and press "Start" when you are ready.</p>
  </div>
  <p><a id= 'start-session' class="btn btn-primary btn-lg" role="button">Start</a></p>
</div>

<div class="below-header" id ='baseline-message'>
  <span class="glyphicon glyphicon-stats"></span> <h3>Taking a baseline measure</h3>
  <p>Over the next couple minutes, we'll take a baseline measure for the session. As best as you can, try to stay relatively still.</p>
</div>

<div class='center-bar'> 
</div>

<div>
  <span id="speedometer"></span>
</div>

<div class="jumbotron" id="music-alert">
  <h1>Try to refocus!</h1>
  <p>You veered off of center. The music will resume momentarily.</p>
</div>

<div class = 'footer-nav'>
  <div class = 'footer-container' id = 'left-footer-container'>
    <h3> Now Playing: </h3>
  </div>
  <div class = 'footer-container' id = 'left-center-footer-container'>
    <div id="api"></div>
    <img id="art" src="" height="140" width="140">
  </div>
  <div class = 'footer-container' id= 'center-left-footer-container'>
      <div><b>Track: </b><span id="track"></span></div>
      <div><b>Album: </b><span id="album"></span></div>
      <div><b>Artist: </b><span id="artist"></span></div>
      <div><b>Position: </b>
        <span style="display:inline-block;width:200px;border:1px solid black;">
          <span id="position" style="display:inline-block;background-color:#666">&nbsp;</span>
        </span></div>
      <div>
        <button id="previous">&lt;&lt;</button>
        <button id="play">|&gt;</button>
        <button id="pause">||</button>
        <button id="next">&gt;&gt;</button>
      </div>
  </div>
  <div class = 'footer-container' id= 'timer'>
    <div id = 'timer-header'>
      <h3>Time Elapsed:</h3>
    </div>
     <div id="clock">00:00</div>
  </div>
     <p> <a id = "end-session-btn" class="btn btn-primary btn-lg" role="button">End</a></p>
</div>

<div id = 'script-container'>

  <script src="/static/js/brainwaves.js"></script>
  <script src="/static/js/rdio_player.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerEvents/pointerevents.js"></script>
  <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerGestures/pointergestures.js"></script>
  <script type="text/javascript" src="http://iop.io/js/iopctrl.js"></script>

</div>

{% endblock %}

{% block script %}

<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js'></script>
<script>

var socket = null;
var start = null;


function formatTime(ms) {
  var total_seconds = ms / 1000;
  var minutes = Math.floor(total_seconds / 60);
  var seconds = Math.floor(total_seconds % 60);

  if (minutes < 10 && seconds < 10) {
      return "0" + minutes + ":" + "0" + seconds;
  }
  if (minutes < 10 && seconds >= 10) {
      return "0" + minutes + ":" + seconds;
  }if (minutes >= 10 && seconds < 10) {
      return minutes + ":" + "0" + seconds;
  } 
  return minutes + ":" + seconds; 
}
 
function displayStatus(data) {
  var connectionText = $("#connection-status");
    connectionText.html(data);

    if (data=='standby') {
      connectionText.css('backgroundColor','#FCDC3B');
    }
    else if (data=='connected!') {
      connectionText.css('backgroundColor','#66CD00');
      startMessage();
    }
    else {
      connectionText.css('backgroundColor','#ff1a1a')
    }
}

function startMessage() {
  var jumbotron = $('#start-message')
  jumbotron.show();

  var startButton = $("#start-session")
  startButton.click(startSession)
}

function showBaselineMessage() {
  var baseline = $('#baseline-message')
  baseline.show();
}

function changeBaselineMessage() {
  var baseline = $('#baseline-message');
  baseline.html("<span class='glyphicon glyphicon-check'></span> <h3>Baseline complete!</h3><p>Use the meter on the right to track your focus. Try to keep the dial in the center zone. When you lose focus, you'll be reminded to come back to center by a pause in the music.</p>" )

  setTimeout(function() {
      baseline.hide(); }, 30000);

}

function loadSpeedometer(){
  speedometer = $("#speedometer");
  speedometer.show();

  scriptContainer = $("#script-container");
  insertScript('speedometer',scriptContainer);
}

function setTimer() {
  var timer = $('#timer');
  timer.show();

  start = new Date().getTime();

  setInterval(function() {
    var newTime = new Date().getTime();
    var clock = $('#clock');
    clock.html(formatTime(newTime - start));
  }, 1000);
}

function loadStopButton() {

  var stop = $('#end-session-btn');
  stop.show();

  stop.click(sendSessionData);
}

function loadSessionElements() {

  changeBaselineMessage();

  loadSpeedometer();

  loadStopButton();

  setTimer();

  setInterval(checkAbnormal, 1000);

}

function insertScript(script, container) {
    var elem = document.createElement('script');
    elem.type = 'text/javascript';
    elem.src = '/static/js/' + script + '.js';
    container.append(elem);
}

function startSession() {
  var jumbotron = $('.jumbotron')
  jumbotron.hide();

  $('.footer-nav').show();
  playlistMain();

  scriptContainer = $("#script-container");
  insertScript('d3chart', scriptContainer);

  centerBar = $('.center-bar');
  centerBar.show();

  leftMessage = $(".left-message");
  leftMessage.html("Track your brain waves below")

  socket.emit('readyMessage', 'ready');  
}

function sendSessionData() {

  console.log('sending data')

  var newTime = new Date().getTime();

  var sessionData = {
    sessionID: sessionStorage.sessionID,
    integral: medianIntegral,
    totalTime: newTime - start,
    totalPauses: PAUSE_COUNT
  }

  console.log(sessionData);

  $.ajax({
    type: "POST",
    url: "/complete",
    data: sessionData,
  }).done(function(data) {
    window.location.replace('/complete');
  }).fail(function() { console.log('failed');} );

}

function saveSessionID(data) {
  sessionStorage.sessionID = data;
  console.log(sessionStorage.sessionID);
}

function connectionMain() {

  var namespace = '/test';
  socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
  var duration = 1;

  socket.on('connection status', displayStatus);

  socket.on('first value', startData);
  
  socket.on('new value', streamData);

  socket.on('session id', saveSessionID)

}

$(document).ready(function () {
  connectionMain();
});


</script>

{% endblock %}