{% extends 'base.html' %}

{% block header %}

<div>
<p class="left-message">Connect Your Headset</p>
</div>

<div class = 'right-header'>
  <span id = "connection-status-text">Connection status:</span>   <div id="connection-status">Waiting for signal</div>
<div>

{% endblock %}

{% block body %}

<div class="jumbotron" id="start-message">
  <h1>You're connected!</h1>
  <div>
  <p>Spend a moment thinking about your goals for this session before beginning.</br>
    Take a few deep breaths and press "Start" when you are ready.</p>
  </div>
  <p><a id= 'start-session' class="btn btn-primary btn-lg" role="button">Start</a></p>
</div>

<div class="below-header" id ='baseline-message'>
  <span class="glyphicon glyphicon-stats"></span> <h3>Taking a baseline measure</h3>
  <p>Over the next couple minutes, we'll take a baseline measure for the session. As best as you can, try to stay relatively still.</p>
</div>

<div>
  <span id="speedometer"></span>
</div>

<div class = 'footer-nav'>
  <div class = 'footer-container' id = 'left-footer-container'>
    <div id="api"></div>
    <img id="art" src="" height="140" width="140">
  </div>
  <div class = 'footer-container' id = 'left-center-footer-container'>
      <h3> Now Playing: </h3>
      <div><b>Track: </b><span id="track"></span></div>
      <div><b>Album: </b><span id="album"></span></div>
      <div><b>Artist: </b><span id="artist"></span></div>
      <div><b>Position: </b>
        <span style="display:inline-block;width:200px;border:1px solid black;">
          <span id="position" style="display:inline-block;background-color:#666">&nbsp;</span>
        </span></div>
      <div>
        <button id="previous">&lt;&lt;</button>
        <button id="play">|&gt;</button>
        <button id="pause">||</button>
        <button id="next">&gt;&gt;</button>
      </div>
  </div>
</div>

<div class = 'timer'>
    <h3>Time Elapsed:</h3>
   <div id="clock">0:00</div>
</div>

<div id = 'script-container'>

  <script src="/static/js/brainwaves.js"></script>
  <script src="/static/js/rdio_player.js"></script>

</div>

<script>

var socket = null;

function display_status(data) {
  var connection_text = $("#connection-status");
    connection_text.html(data);

    if (data=='standby') {
      connection_text.css('backgroundColor','#FCDC3B');
    }
    else if (data=='connected!') {
      connection_text.css('backgroundColor','#66CD00');
      start_message();
    }
    else {
      connection_text.css('backgroundColor','#ff1a1a')
    }
}

function start_message() {
  var jumbotron = $('#start-message')
  jumbotron.show();

  var startButton = $("#start-session")
  startButton.click(start_session)
}

function show_baseline_message() {
  var baseline = $('#baseline-message')
  baseline.show();
}

function change_baseline_message() {
  var baseline = $('#baseline-message');
  baseline.html("<span class='glyphicon glyphicon-check'></span> <h3>Baseline complete!</h3><p>Use the meter on the right to track your brain behavior. Try to keep the dial in the center zone.</p>" )
  setTimeout(function() {
      baseline.hide(); }, 30000);
  scriptContainer = $("#script-container");
  insertScript('speedometer',scriptContainer);

  var clock = $('.timer');
  clock.show();

}

function insertScript(script, container) {
    var elem = document.createElement('script');
    elem.type = 'text/javascript';
    elem.src = '/static/js/' + script + '.js';
    container.append(elem);
}

function start_session() {
  var jumbotron = $('.jumbotron')
  jumbotron.hide();

  $('.footer-nav').show();
  playlistMain();

  scriptContainer = $("#script-container");
  insertScript('d3chart',scriptContainer);

  leftMessage = $(".left-message");
  leftMessage.html("Track your brain waves below")

  socket.emit('readyMessage', 'ready');  
}

function connection_main() {

  var namespace = '/test';
  socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
  var duration = 1;

  socket.on('connection status', display_status);

  socket.on('first value', start_data);
  
  socket.on('new value', stream_data);

}

$(document).ready(function () {
  connection_main();
});


</script>

{% endblock %}