{% extends 'base.html' %}

{% block header %}

<div class = 'playlist-header'>
    <form class="options-form"  method="POST">
      <label for="autocomplete" id= 'options-label' >Select a playlist for your session: </label>
      <input id="autocomplete" name="playlist"> <button id="playlist-submit" class="btn btn-default">Submit</button>
    </form>
</div>

{% endblock %}

{% block body %}

<div class="jumbotron" id="playlist-message">
  <div>
  <h2>Choose smart!</h2>
  </div>
  <p>Some playlists may help you focus more than others.</br></br>We've calculated how often you lose focus when listening to different playlists. If you're looking for a challenge, practice with a playlist at the bottom of the list.</br></br>Try to experiment with different playlists and sounds.</p>
</div>

<div class= 'right-bar'>
  <div class='table-header'>
    <p> You focus best listening to:</p>
  </div>
    <table id= 'playlist-table' class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Playlist</th>
          <th>Listen count</th>
        </tr>
      </thead>
      <tbody>
         {% set order_num = 1 %}   
         {% for playlist in playlists %}
         <tr>
          <td>{{ order_num }}
          <td>{{ playlist['name'] }}</td>
          <td>{{ playlist['count'] }}</td>
         </tr>
         {% set order_num = order_num + 1 %} 
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">

function getPlaylists() {
    $.get("/ajax/playlists", addToAutocomplete);
}

function addToAutocomplete(data) {
    var playlists = JSON.parse(data);
    $("#autocomplete" ).autocomplete({
    source: playlists
            });
}

function main() {
    getPlaylists();
}

$(main);
</script>

{% endblock %}