{% extends 'base.html' %}

{% block body %}

<div class="row pad-top">          
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    	<div class="panel panel-default">
        	<div class="panel-heading">
    			<strong>Register with MonkeyMind </strong>  
       		</div>
        <div class="panel-body">
            <form role="form" form class="form-signin" method="POST"><br/>
                <div class="form-group input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" name= 'email' placeholder="Your Email" />
                </div>
              	<div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" ></i></span>
                    <input type="password" class="form-control" name= 'password' placeholder="Enter Password" />
                </div>
                <a class="btn btn-success ">Register Me</a>
                <hr/>
                Already Registered ?  <a href="{{ url_for('show_login') }}" >Login here</a>
                </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}