{% extends 'base.html' %}

{% block header %}

<div>
<p class="left-message">Connect Your Headset</p>
</div>

<div class = 'right-header'>
  <span id = "connection-status-text">Connection status:</span>   <div id="connection-status"></div>
<div>

{% endblock %}

{% block body %}

<script>

function connection_main() {

  var namespace = '/test';
  var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
  var duration = 1;

  socket.on('connection status', function(data) {
      var connection_text = $("#connection-status");
      connection_text.html(data);

      if (data=='standby') {
        connection_text.css('backgroundColor','#FCDC3B');
      }
      else if (data=='connected') {
        connection_text.css('backgroundColor','#66CD00');
      }
      else {
        connection_text.css('backgroundColor','#ff1a1a')
      }
    });
  }

$(document).ready(function () {
  setTimeout(connection_main(), 10000);
});


</script>

{% endblock %}